<style>
    .text{
        font-size: 10px;
    }
    .text1{
        font-size: 10px;
    }
</style>



  
    <footer
            class="text-center text-lg-start text-dark"
            style="background-color: #ECEFF1 ; "
            >
    
      <section class="d-flex justify-content-between p-1 text-white " >
        <div class="container text-center text-md-start mt-5">
      
          <div class="row mt-3">
      
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
           
              <div class="footer-logo" style="margin-top: 50px; margin-left: 80px;">
                <a href="index.html"><img src="/userpublic/indexassets/assets/images/brand-logo/brand-logo-2.png" alt="logo"></a>
                
            </div>
            </div>
           
  
         
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            
              <h6 class="text-uppercase fw-bold">Products</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a href="#!" class="text-dark">MDBootstrap</a>
              </p>
              <p>
                <a href="#!" class="text-dark">MDWordPress</a>
              </p>
              <p>
                <a href="#!" class="text-dark">BrandFlow</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Bootstrap Angular</a>
              </p>
            </div>
           
  
         
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          
              <h6 class="text-uppercase fw-bold">Useful links</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a href="#!" class="text-dark">Your Account</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Become an Affiliate</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Shipping Rates</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Help</a>
              </p>
            </div>
           
  
         
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p><i class="fas fa-home mr-3"></i> Kozhikode, 673611, IND</p>
              <p><i class="fas fa-envelope mr-3"></i> adilev2000@gmail.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 7907270241</p>
              <p><i class="fas fa-print mr-3"></i> + 0495 99911</p>
            </div>
            
          </div>
         
        </div>
      </section>
    
  
     
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2024 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/"
           >Furniture.com</a
          >
      </div>
   
    </footer>
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="path/to/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="/userpublic/indexassets/assets/js/vendor/modernizr-3.11.7.min.js"></script>
<script src="/userpublic/indexassets/assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="/userpublic/indexassets/assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
<script src="/userpublic/indexassets/assets/js/vendor/popper.min.js"></script>
<script src="/userpublic/indexassets/assets/js/vendor/bootstrap.min.js"></script>
<script src="/userpublic/indexassets/assets/js/plugins/wow.js"></script>
<script src="/userpublic/indexassets/assets/js/plugins/scrollup.js"></script>
<script src="/userpublic/indexassets/assets/js/plugins/aos.js"></script>
<script src="/userpublic/indexassets/assets/js/plugins/magnific-popup.js"></script>
<script src="/userpublic/indexassets/assets/js/plugins/jquery.syotimer.min.js"></script>
<script src="/userpublic/indexassets/assets/js/plugins/swiper.min.js"></script>
<script src="/userpublic/indexassets/assets/js/plugins/imagesloaded.pkgd.min.js"></script>
<script src="/userpublic/indexassets/assets/js/plugins/isotope.pkgd.min.js"></script>
<script src="/userpublic/indexassets/assets/js/plugins/jquery-ui.js"></script>
<script src="/userpublic/indexassets/assets/js/plugins/jquery-ui-touch-punch.js"></script>
<script src="/userpublic/indexassets/assets/js/plugins/jquery.nice-select.min.js"></script>
<script src="/userpublic/indexassets/assets/js/plugins/waypoints.min.js"></script>
<script src="/userpublic/indexassets/assets/js/plugins/jquery.counterup.js"></script>
<script src="/userpublic/indexassets/assets/js/plugins/select2.min.js"></script>
<script src="/userpublic/indexassets/assets/js/plugins/easyzoom.js"></script>
<script src="/userpublic/indexassets/assets/js/plugins/slinky.min.js"></script>
<script src="/userpublic/indexassets/assets/js/plugins/ajax-mail.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="/userpublic/indexassets/assets/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
