<%- include('../partials/mainheader.ejs')%>

<style>
    #logicontainer{
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
        
        margin-bottom: 150px;
    }
    .login-with-google-btn {
  transition: background-color .3s, box-shadow .3s;
    
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
  
  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
  }
  
  &:active {
    background-color: #eeeeee;
  }
  
  &:focus {
    outline: none;
    box-shadow: 
      0 -1px 0 rgba(0, 0, 0, .04),
      0 2px 4px rgba(0, 0, 0, .25),
      0 0 0 3px #c8dafc;
  }
  
  &:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    cursor: not-allowed;
  }
}
body {
  text-align: center;
  padding-top: 2rem;
}
#password::placeholder {
        color: #999;
        font-style: italic;
    }
#email::placeholder {
        color: #999;
        font-style: italic;
    }

</style>
        
        <div class="login-register-area ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 offset-lg-2">
                        <div class="login-register-wrapper">
                            <div class="login-register-tab-list nav">
                              <a class="active"><h4>Login</h4></a>
                                <a  href="/registration/">
                                    <h4>Register</h4> 
                                </a>
                            </div>
                            <div class="tab-content">
                                <div id="lg1" class="tab-pane active">
                                    <div class="login-form-container" id="logicontainer">
                                        <div class="login-register-form">
                                            <form action="/userhome" method="post"  onsubmit="return handleSubmit()">

                                              <p id="show1" class="text-danger" ></p>
                                                <% if(typeof message!=='undefined' ){ %>

                                                    <h6 id="errorMessage"  style="color: red; justify-content: center; text-align: center;">
                                                        <%= message %>
                                                    </h6>
                                                    <% } %>

                                                    <label>Enter Your Email :</label>
                                                <input type="text" id="email" name="email" placeholder="(e.g., example@example.com)">
                                                <label>Enter Your Paasword :</label>
                                                <input type="password" id="password" name="password" placeholder="(Password)"  class="muted-placeholder">
                                                
                                                <div class="button-box btn-hover"  style="justify-content: center; align-items: center; display: flex;">
                                                    <button type="submit">Login</button>
                                                </div>
                                                
                                                
                                            </form>
                                            <div style="justify-content: center; align-items: center; display:  flex; padding-top: 30px;">
                                                
                                                <a href="/google"><button class="login-with-google-btn" > Sign in with Google</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <script>

            setTimeout(function() {
                var errorMessage = document.getElementById('errorMessage');
                if (errorMessage) {
                    errorMessage.remove();
                }
            }, 3000); 
        </script>
       

        <script>
          let show=document.getElementById("show1")
          function handleSubmit(){
              let email=document.getElementById("email").value;
              let password=document.getElementById("password").value;
      
              let emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
              if (!email.match(emailRegex)) {
               document.getElementById("show1").innerHTML = "Enter a valid Email address or Pssaword";
               return false;
            }
            let passwordeRegex=/^\d{5}$/
              if(!password.match(passwordeRegex)){
               document.getElementById("show1").innerHTML="Enter a valid Email address or Pssaword";
               return false;
           }
           return true
      
          }
      </script>


        <%- include('../partials/mainfooter.ejs')%>