<%- include('../partials/mainheader.ejs')%>


<style>
    #text1{
        color: white;
        font-size: 50px;
        font-weight: 900;
        
    }
    .heading-3{
        color: white;
    }
    .address{
        color: white;
    }
</style>
<div class="breadcrumb-area  breadcrumb-padding-1"  style="background-color: rgb(21, 63, 179);">
    <div class="container" style="height: 330px;">
        <div class="breadcrumb-content text-center">
           <div >
            <h1 id="text1">ThankYou </h1>
          
           </div>
           <div class="map-location mt-5 mb-5s">
            <div class="heading-3">
                <h3 class="heading-3">#Order Detiles <hr></h3>
               
            </div>
            <div class="row ">
                <div class="col-lg-6 " style="padding-left: 200px;">
                    <h3 class="heading-3">Contact Information</h3>
                    <p style="color: aliceblue;">neerajkaushik205@gmail.com</p>
                    <h3 class="heading-3">Shipping Address</h3>
                    <address class="address">Neeraj Sharma<br>House No. DE-507,<br>Behind Bansal Nursing Home,<br>Palwal 121102 HR<br>India<br>‎9017771453</address>
                    
                </div>
                <div class="col-lg-6"  style="padding-right: 200px;">
                    <h3 class="heading-3">Payment Method</h3>
                    <p  style="color: aliceblue;">Cash on Delivery (COD) - Rs. 333.00</p>
                    <h3 class="heading-3">Billing Address</h3>
                    <address class="address">Neeraj Sharma<br>House No. DE-507,<br>Behind Bansal Nursing Home,<br>Palwal 121102 HR<br>India<br>‎9017771453</address>
                </div>
            </div>
        </div>
            
        </div>
    </div>
    <div class="breadcrumb-img-1">
        <img src="/userpublic/indexassets/assets/images/banner/breadcrumb-1.png" alt="">
    </div>
    <div class="breadcrumb-img-2">
        <img src="/userpublic/indexassets/assets/images/banner/breadcrumb-2.png" alt="">
    </div>
</div>

<div class="related-product-area pt-100">
    <div class="container">
        <div class="section-title-2 st-border-center text-center mb-75" data-aos="fade-up" data-aos-delay="200">
            <h2>Related Products</h2>
        </div>
        <div class="related-product-active swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="product-wrap" data-aos="fade-up" data-aos-delay="200">
                        <div class="product-img img-zoom mb-25">
                            <a href="product-details.html">
                                <img src="/userpublic/indexassets/assets/images/product/product-1.png" alt="">
                            </a>
                            <div class="product-badge badge-top badge-right badge-pink">
                                <span>-10%</span>
                            </div>
                            <div class="product-action-wrap">
                                <button class="product-action-btn-1" title="Wishlist"><i
                                        class="pe-7s-like"></i></button>
                                <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    <i class="pe-7s-look"></i>
                                </button>
                            </div>
                            <div class="product-action-2-wrap">
                                <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i>
                                    Add to cart</button>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="product-details.html">New Modern Sofa Set</a></h3>
                            <div class="product-price">
                                <span class="old-price">$25.89 </span>
                                <span class="new-price">$20.25 </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-wrap" data-aos="fade-up" data-aos-delay="400">
                        <div class="product-img img-zoom mb-25">
                            <a href="product-details.html">
                                <img src="/userpublic/indexassets/assets/images/product/product-2.png" alt="">
                            </a>
                            <div class="product-action-wrap">
                                <button class="product-action-btn-1" title="Wishlist"><i
                                        class="pe-7s-like"></i></button>
                                <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    <i class="pe-7s-look"></i>
                                </button>
                            </div>
                            <div class="product-action-2-wrap">
                                <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i>
                                    Add to cart</button>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="product-details.html">New Modern Sofa Set</a></h3>
                            <div class="product-price">
                                <span>$50.25 </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-wrap" data-aos="fade-up" data-aos-delay="600">
                        <div class="product-img img-zoom mb-25">
                            <a href="product-details.html">
                                <img src="/userpublic/indexassets/assets/images/product/product-3.png" alt="">
                            </a>
                            <div class="product-badge badge-top badge-right badge-pink">
                                <span>-10%</span>
                            </div>
                            <div class="product-action-wrap">
                                <button class="product-action-btn-1" title="Wishlist"><i
                                        class="pe-7s-like"></i></button>
                                <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    <i class="pe-7s-look"></i>
                                </button>
                            </div>
                            <div class="product-action-2-wrap">
                                <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i>
                                    Add to cart</button>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="product-details.html">Easy Modern Chair</a></h3>
                            <div class="product-price">
                                <span class="old-price">$45.00 </span>
                                <span class="new-price">$40.00 </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-wrap" data-aos="fade-up" data-aos-delay="800">
                        <div class="product-img img-zoom mb-25">
                            <a href="product-details.html">
                                <img src="/userpublic/indexassets/assets/images/product/product-4.png" alt="">
                            </a>
                            <div class="product-action-wrap">
                                <button class="product-action-btn-1" title="Wishlist"><i
                                        class="pe-7s-like"></i></button>
                                <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    <i class="pe-7s-look"></i>
                                </button>
                            </div>
                            <div class="product-action-2-wrap">


                                <button class="product-action-btn-2" title="Add To Cart"><a href="#" onclick=""><i
                                            class="pe-7s-cart"></i>Add To Cart</a></button>

                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="product-details.html">Stylish Swing Chair</a></h3>
                            <div class="product-price">
                                <span>$30.25 </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-wrap">
                        <div class="product-img img-zoom mb-25">
                            <a href="product-details.html">
                                <img src="/userpublic/indexassets/assets/images/product/product-2.png" alt="">
                            </a>
                            <div class="product-badge badge-top badge-right badge-pink">
                                <span>-10%</span>
                            </div>
                            <div class="product-action-wrap">
                                <button class="product-action-btn-1" title="Wishlist"><i
                                        class="pe-7s-like"></i></button>
                                <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    <i class="pe-7s-look"></i>
                                </button>
                            </div>
                            <div class="product-action-2-wrap">
                                <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i>
                                    Add to cart</button>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="product-details.html">New Modern Sofa Set</a></h3>
                            <div class="product-price">
                                <span class="old-price">$80.50 </span>
                                <span class="new-price">$75.25 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <%- include('../partials/mainfooter.ejs')%>